:root {
  --zero: #caf0f8;
  --one: #90e0ef;
  --two: #00b4d8;
  --three: #0077b6;
  --four: #03045e;
  --five: #00193b;
  --six: #00132d;
  --text: rgb(203, 225, 255);
} 

#headerLink {
  cursor: pointer;
  color: var(--three);
}

h1,
h2,
h5,
h6 {
  color: var(--three);
}

.project-card-btn {
  background-color: #00b4d8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--zero);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
